<!-- <button (click)="load()" style="margin-right: 20px">
  <span *ngIf="!loading">Load</span>
  <span *ngIf="loading">........</span>
</button> -->

<!-- <button (click)="fetch()" style="margin-right: 20px">
  <span *ngIf="!fetching">Fetch</span>
  <span *ngIf="fetching">........</span>
</button> -->

<button (click)="clhide()">
  <span *ngIf="!hide">Hide</span>
  <span *ngIf="hide">Show</span>
</button>

<br />
<br />

<div class="block">
  <div class="item" *ngIf="!hide">
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <tr *ngFor="let resit of res">
        <td
          (click)="choose(resit)"
          [ngClass]="{ active: resit.id == selected.id }"
        >
          <a [href]="resit.link">{{ resit.name }}</a>
          <span style="float: right">{{ resit.articleType }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="item2">
    <markdown class="variable-binding" [data]="selected.markdown"></markdown>
  </div>
</div>

<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>Loading...</h3>
  </div>
</ng-template>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>
