<button (click)="load()">
  <span *ngIf="!loading">Load</span>
  <span *ngIf="loading">........</span>
</button>

<button (click)="clhide()">
  <span *ngIf="!hide">Show</span>
  <span *ngIf="hide">Hide</span>
</button>

<div class="block">
  <div class="item">
    <table>
      <tr>
        <th>Name</th>
      </tr>
      <tr *ngFor="let resit of res">
        <td
          (click)="choose(resit)"
          [ngClass]="{ active: resit.id == selected.id }"
        >
          <a [href]="resit.link">{{ resit.name }}</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="item2">
    <markdown class="variable-binding" [data]="selected.markdown"></markdown>
  </div>
</div>
